Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [2]:
#Q1. 
import pandas as pd
pd.Series([4,8,15,16,23,42])

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
#Q2
list=[1,2,3,4,5,6,7,8,9,10]
a=pd.Series(list)
print(a)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [18]:
#Q3
dict={"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}
df=pd.DataFrame(dict)

In [19]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#Q4

In pandas, a DataFrame is a two-dimensional data structure that represents tabular data. It is similar to a spreadsheet or a SQL table, where data is organized in rows and columns. A DataFrame can be thought of as a collection of pandas Series objects that share a common index.

Each column in a DataFrame is a pandas Series, which is a one-dimensional labeled array capable of holding any data type. Series can be seen as the building blocks of a DataFrame. The main difference between a DataFrame and a Series is that a DataFrame can hold multiple columns, while a Series represents a single column.

eg:-

data = {
    'Name': ['John', 'Emily', 'Michael'],
    'Age': [20, 19, 21],
    'Grade': [85, 92, 78]
}

df = pd.DataFrame(data)
print(df)
Output:

#Q5

1.head()
2.tail()
3.describe()
4.dtypes()
5.unique()
6.loc,iloc
7.isin()
8.dropna()/drop()
9.fillna
10.replace
11.groupby
12.merge,join
13.sort

ex:-
grouped_df = df.groupby('Grade').mean()
print(grouped_df)

In [ ]:
#Q6

Series: A Series in pandas is a one-dimensional labeled array, and it is mutable. You can modify the values of a Series by assigning new values to specific indices or slices.

DataFrame: A DataFrame in pandas is a two-dimensional labeled data structure, and it is also mutable. You can modify the values of a DataFrame by assigning new values to specific cells, columns, or rows. Additionally, you can add or remove columns from a DataFrame.

Panel: A Panel in pandas is a three-dimensional data structure that is less commonly used compared to Series and DataFrame. However, as of pandas version 1.0, the Panel data structure is deprecated and slated for removal in a future version.